body {
    font: 12px monospace;
    line-height: 1.4;
    margin: 0;
    padding: 0 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 12px;
}
h1, h2 {
    font-weight: 500;
    font: 12px monospace;
}
h1 {
    font-size: 14px;
}
h2 {
    font-size: 12px;
}

nav {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #0000EE;
    font-size: 12px;
}

nav a:hover {
    text-decoration: underline;
}
.blog-entry {
    margin-bottom: 15px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
.blog-entry a {
    text-decoration: none;
    color: black;
}
.blog-entry a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 40px;
    text-align: center;
    font-size: 9px;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    body {
        padding: 0 5px;
        font-size: 10px;
    }
    h1 {
        font-size: 11px;
    }
    h2 {
        font-size: 11px;
    }
    nav {
        gap: 8px;
    }
    nav a {
        font-size: 12px;
    }
    .blog-entry {
        font-size: 9px;
    }
    footer {
        font-size: 9px;
    }
}