/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--accent-color);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.toggle-mode {
    margin-left: 20px;
}

.toggle-mode button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit;
}

h1 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

p{
    font-size:px;
    font-family: 'JetBrains Mono', monospace
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 2px solid var(--accent-color);
}

/* Dark Mode Variables */
:root {
    --background-color: #1c1c1c;
    --text-color: #ffffff;
    --accent-color: #4db5ff;
}

/* Light Mode Variables */
body.light-mode {
    --background-color: rgba(221, 214, 214, 0.447);
    --text-color: #333333;
    --accent-color: #007acc;
}

body.light-mode footer {
    border-color: var(--accent-color);
}

body.light-mode header {
    border-color: var(--accent-color);
}
