@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #71C9CE;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

header h5 {
    margin: 0;
    font-size: 1.5rem;
    color: #004D6E;
}

/* Navigation link */
#home-btn {
    display: flex;
    justify-content: center;
    margin-left: 820px;
    margin-top: 20px;
    font-size: larger;
    background-color: #71C9CE;
    color: red;
    padding: 10px 20px;
    border-radius: 20px 0px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-weight: bolder;
}

#home-btn:hover {
    background-color: #004D6E;
    color: red;
}

a {
    color: #004D6E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 20px;
}

#blog-posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post h3 {
    margin-top: 0;
    color: #004D6E;
}

.blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    margin-top: 100px;
    background-color: #71C9CE;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    main {
        padding: 1rem;
    }

    #gh {
        margin: 10px 0;
        width: 80px;
    }

    .blog-post {
        padding: 1rem;
    }

    .blog-post h3 {
        font-size: 1.25rem;
    }
}

/* AUDIO STUFFS  FOR MORE*/
/* General styles */


/* Audio Player Container */
.audio-container-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-left: 600px;
}

/* Play Button */
.audio-circle-more {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.audio-circle-more img {
    width: 24px;
    height: 24px;
}

/* Audio Player */
audio {
    display: none;
}

/* Play Instruction */
.audiot-more {
    margin-top: 10px;
    font-size: 14px;
    color: #004D6E;
}

/* Additional Audio Element */
.audiob-more {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
