/* Banner Styling */
.banner {
    width: 100%;
    height: 75px; /*Banner Height*/
    margin: 10px 0;
    border: 2px solid black; 
    overflow: hidden;
    position: relative;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .banner {
        height: 80px; /* mobile */
    }
}

